Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: {{ name }}
Upstream-Contact: {{ author }}
Source: {{ git_url }}

Files: *
Copyright: 2022-2026 45Drives
License: {{ license }}
