Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(', ') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}


%prep
%setup -q

%build
make OS_PACKAGE_RELEASE=el9

%install
make DESTDIR=%{buildroot} install

%files
/usr/share/cockpit/identities/*

%changelog
* Wed Jul 08 2026 Rachit Hans <rhans@45drives.com> 0.1.13-1
- fix: use explicit cockpit deps for debian to avoid network-manager
* Mon Apr 28 2025 Joshua Boudreau <jboudreau@45drives.com> 0.1.12-3
- bump build version to force repo updates
* Tue Mar 25 2025 Brett Kelly <bkelly@45drives.com> 0.1.12-1
- first build for el9